@import '@/assets/mixin.layout.scss';
@import '@/assets/mixin.breakpoints.scss';
@import '@/assets/variable.scss';

.title-wrapper {
    width: 100%;
    font: $font-regular;
    font-size: 1.9vmin;
    margin-top: 2vh;
    margin-left: 1vw;
    text-align: center;
    img{
        max-width: 340px;
    }
}
.cab {
    height: 100%;
    width: 25vw;
    z-index: 2;
    box-shadow: 17px 0px 57px 100px black;
    @include lg-breakpoint {
        width: 99vw;
        margin-bottom: 30px;
        flex-direction: row;
        box-shadow: 5px 0px 10px 5px black;

    }
    

    .cab-inset {
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        background: black;
        @include lg-breakpoint {
            width: 100%;
            flex-direction: row;
        }

    }

    img {
        width: 100%;
        object-fit: contain;
    }
    .sub-header {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        

        .sub-inner {
            @include center-align-row;
            width: 100%;
            gap: 8px;
            padding: 4px 10px;
            @include center-align-row;
        @include lg-breakpoint {
            height: 100%;
           @include center-align-col;
        }

            .glasses-block {
                padding: 5px;
            }
        }

    }

    .capb-details {
        width: 100%;
        @include center-align-col;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 5px;

        .capb-details-item {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .capb-name-details {
                color: #ffffffa8;
                width: 40%;
            }

            .capb-des-details {
                display: flex;
                width: 60%;
                justify-content: end;
                flex-wrap: wrap;

                span {
                    text-align: end;
                }
            }
        }
    }




}