@import '@/assets/main.scss';
@import '@/assets/mixin.breakpoints.scss';

.card-app-banner {
    @include center-align-col;
    width: 280px;

    @include xl-breakpoint {
        width: 420px;
    }

    @include center-align-col;
    gap: 10px;
    height: max-content;


    img {
        object-fit: contain;
    }

    .sub-header {
        width: 100%;
        @include center-align-row;

        .sub-inner {
            @include center-align-row;
            width: 100%;
            gap: 8px;
            padding: 4px 10px;

            .glasses-block {
                padding: 5px;
            }
        }

    }

    .capb-details {
        width: 100%;
        @include center-align-col;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: #333;
        color: #fff;
        padding: 5px;

        .capb-details-item {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .capb-name-details {
                color: #ffffffa8;
                width: 40%;
            }

            .capb-des-details {
                display: flex;
                width: 60%;
                justify-content: end;
                flex-wrap: wrap;
                span{
                    text-align: end;
                }
            }
        }
    }




}