@import '../main.scss';
.background-raw {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.glasses-block {
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

section {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-radius: 3px;

    .screenshot {
        width: 600px;
        height: 320px;
        overflow: hidden;
    }

    .info-wrapper {
        position: relative;
        @include center-align-col;
        justify-content: start;
        gap: 10px;
        box-shadow: -30px 0px 100px 100px rgba(0, 0, 0, 0.92);
        // right: -65%;
        background-color: rgba(0, 0, 0, 0.90);
        width: 40%;
        height: max-content;
        margin-bottom: 12vh;
    }

    .info-background {
        position: absolute;
        width: 85%;
        z-index: -2;
        height: 100%;
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-metal-texture-texture-background-image_925963.jpg);
        background-position-x: -100px;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.06) opacity(75%);
    }

    .info {
        @include center-align-col;
        font-size: 1vw;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

    }



    .active {
        display: flex;
        animation: opacity 0.3s 0.1s  ease-in both 1;

    }

    @keyframes opacity {
        0% {
            opacity: 0;
            filter: blur(5px);
            
        }
        50%{
            filter: blur(5px);
        }
        75%{
            filter: blur(5px);
        }

        100% {
            opacity: 1;
            filter: blur(0px);
        }
    }

}