// @import './base.css';
@import '@/assets/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@mixin center-align-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-align-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
html{
  font-family: "Open Sans",sans-serif;
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background:$light-background-color;
}


::-webkit-scrollbar-thumb {
  background: $primary-gold-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $line-transition-color;
}
}
button{
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
#app{
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
}

body{
  background-color: $general-background-color;
  height: 100%;
  width: 100%;
  
}
#app{
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  
}



.wrapper{
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: $general-background-color;
  box-shadow: $gold-dark-box-shadow;
  border-radius: 20px 20px 0px 0px;
  flex-direction: column;
  height: auto;
}
.link {
  position: relative;
  padding: 5px;
  background-color: inherit;
  font: $font-regular;
  color: white;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 20%;
    background-color: $line-transition-color;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
.active-link{
  text-shadow:  0px 5px 3px #e2bc008a;
  transition: text-shadow 0.3s ease-out;
  &::before {
    transform: scaleX(1);
  }
}

.glasses {
  box-shadow: $shadow-gold-glass-inset, 0px 0px 10px -5px #776400;
}
.page{
  width: 99vw;
  height: 100%;
  .page-inset{
    height: auto;
    width: 70%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    
  }
}

.offer{
  width: 100%;
  @include center-align-row;  
  height: auto;
}

.overlay {
  position: absolute;
  height: 100%;
  z-index: 3;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(var(--columns),1fr);
  grid-template-rows:repeat(var(--rows),1fr);
}

.tile{
  background-color: #1e1e1e;
}


.button-gradient-hover {
  @include center-align-row;
  padding: 10px;
  width: 40%;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  border-radius: 4px;
  transition: all 0.5s ease;
  background-image: linear-gradient(to right, #599603 15%, #3c6d01 90%);
  background-size: 200%;

  &:hover {
      background-position-x: -120%;
  }
}

section {
  display: flex;
  width: 100%;
  height:80vh;
  border-radius: 3px;
  
}

.close-icon{
  color: aliceblue;
  text-align: center;
  width: 30px;
  height: 28px;
  padding: 2px;
  background-color: #aa9903a1;
  backdrop-filter: blur(10px); 
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}


footer{
  border: 1px solid red;
  height: 10%;
  width: 100vw;
}



.detailed-description {
  font: $font-regular;
  line-height: 1.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  a{
    color: rgb(59, 59, 124);
    text-decoration: underline;
  }
  h1,h2,ul{
    line-height: 1.4em;
  }
  p {
    display: flex;
    flex-direction: column;
  }
  img{
    align-content: center;
    width: auto;
  }
}


