@mixin center-align-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin center-align-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  