$shadow-gold-glass-inset:inset 0 10px 0 30px rgba(178, 161, 6, 0.055);
$shadow-gold-glass: 0 0 0 2px #aa9903a1;
$line-transition-color:#ffd700;
$font-regular:  400 16px/2 "Open Sans",sans-serif;
$header-padding:1vh 2vw;
$general-background-color:#1e1e1e;
$light-background-color:#19152b;
$gold-dark-color:rgba(170, 153, 3, 0.631372549);
$primary-gold-color:#aa9903a1;
$gold-dark-box-shadow:$shadow-gold-glass,0px 5px 12px 20px rgb(0, 0, 0);